*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 24px;
}